.Bloggy-Gradient-Blues-1-hex {
    color: #E1E6FA;
}

.Bloggy-Gradient-Blues-2-hex {
    color: #C4D7ED;
}

.Bloggy-Gradient-Blues-3-hex {
    color: #ABC8E2;
}

.Bloggy-Gradient-Blues-4-hex {
    color: #375D81;
}

.Bloggy-Gradient-Blues-5-hex {
    color: #183152;
}

.root {
    -fx-background-image: url("../images/backgroup.png");
    -fx-background-size: AUTO; /* or DEFAULT? */
}

.right-pane {
    -fx-background-color: #183152;
}

.button {
    -fx-background-color: #375D81;
    -fx-text-fill: #E1E6FA;
    -fx-background-radius: 1em;
}

.right-pane > .label {
    -fx-text-fill: #E1E6FA;
}

.jfx-radio-button {
    -fx-text-fill: #375D81;
    -jfx-selected-color: #c4d7ed;
    -jfx-unselected-color: #375D81;
}

.loginHbox {
    -fx-background-color: #183152;
}

.loginHbox .jfx-password-field,
.loginHbox .jfx-text-field {
    -fx-background-color: transparent;
    -jfx-unfocus-color: #375D81;
    -jfx-focus-color: #c4d7ed;
    -fx-text-fill: #E1E6FA;
    -fx-prompt-text-fill: #375D81;
}

.loginHbox > * > .jfx-password-field:error,
.loginHbox > * > .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
    -fx-prompt-text-fill: #D34336;
}

.jfx-password-field .error-label,
.jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-padding: -2 0 0 0;
}
